.footer_selece_item1{
    margin-bottom: 12px;
}

.footer_wrapper{
    border-top: 2px rgb(197, 197, 197) solid;
    padding-top: 53px;
    padding-bottom: 53px;
}

.sub_footer_wrapper{
    border-top: 2px rgb(197, 197, 197) solid;
    padding-top: 6px;
}

